// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// body {
//     font-family: 'Montserrat', serif;
// }

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */

    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

html,
body {
    touch-action: auto;
}